*{
    margin:0;padding:0;
}
body{
    font-size:13px;
    background:#c0c0c0;
}
a img {
	border:none;
}
.container { margin:auto; background:url(../images/container_bg.jpg) repeat-x;}
.main{
    width:1280px;
    margin:0 auto;
	background:#fff;
}
.top{
   background:url(../images/top.jpg) no-repeat; width:1280px; height:280px; margin:auto;
}
/*add nav*/
.nav ul { background:url(../images/nav.jpg) no-repeat; width:974px; height:33px; padding-left:306px;}
.nav ul li{
    list-style:none;
    float:left;
}
.nav ul li a{
    display:block;
	line-height:33px;
	height:33px;
}
.nav_1 a { background:url(../images/nav_hover_bg.jpg) no-repeat; width:119px;}
.nav_1 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat; width:119px;}
.nav_2 a { background:url(../images/nav_bg.jpg) no-repeat -119px 0; width:99px;}
.nav_2 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -119px 0; width:99px;}
.nav_3 a { background:url(../images/nav_bg.jpg) no-repeat -218px 0; width:92px;}
.nav_3 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -218px 0; width:92px;}
.nav_4 a { background:url(../images/nav_bg.jpg) no-repeat -310px 0; width:101px;}
.nav_4 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -310px 0; width:101px;}
.nav_5 a { background:url(../images/nav_bg.jpg) no-repeat -411px 0; width:96px;}
.nav_5 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -411px 0; width:96px;}
.nav_6 a { background:url(../images/nav_bg.jpg) no-repeat -507px 0; width:96px;}
.nav_6 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -507px 0; width:96px;}
.nav_7 a { background:url(../images/nav_bg.jpg) no-repeat -603px 0; width:95px;}
.nav_7 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -603px 0; width:95px;}
.nav_8 a { background:url(../images/nav_bg.jpg) no-repeat -698px 0; width:102px;}
.nav_8 a:hover { background:url(../images/nav_hover_bg.jpg) no-repeat -698px 0; width:102px;}
.content{
    padding:0px 20px 0 45px;
	border-top:1px solid #a09f9b;
	background:url(../images/line.jpg) repeat-y;
}
.content .right p {
    color:#fff;
    font-size:12px;
    line-height:22px;
    text-indent:2em;
    margin:5px 0;
}

.content .right {
	width:822px;
	padding:20px 0 0px;
	float:left;
	color:#2A2A2A;
	line-height:0;
	font-size:0;
    background:url(../images/right.jpg) no-repeat 0 -1px;
	position:relative;
}

.left{
    width:379px;
    float:left;
	position:relative;
}

   .content .left ul li{
    list-style:none;
}
    .main .sider{
	width:294px;
	height:503px;
    text-align:left;
	padding:120px 0 167px 84px;
	float:left;
    background:url(../images/c_left.jpg) no-repeat 0 -1px;
        }
.menu_list { width:224px; _width:223px; height:503px; overflow:auto;
    	SCROLLBAR-FACE-COLOR:#f9f2e5; SCROLLBAR-HIGHLIGHT-COLOR: #fff; SCROLLBAR-SHADOW-COLOR: #fff; SCROLLBAR-3DLIGHT-COLOR: #fff; SCROLLBAR-ARROW-COLOR: #fff; SCROLLBAR-TRACK-COLOR: #fff; SCROLLBAR-DARKSHADOW-COLOR: #fff;
}
.video_list { position:absolute; z-index:100; left:125px; top:-100px;}
.main .sider a{ color:#6b6763; text-decoration:none}
.main .sider a:hover{ text-decoration:underline}
.main .sider h2{ font-size:18px; padding-left:20px; color:#999;}
.main .sider h3{ font-size:14px;  color:#6b6763; font-family:Microsoft YaHei;}
.main .sider ul{ font-size:13px;margin:0 0 0 15px;}
.main .sider ul li{ height:23px; line-height:23px;list-style:none;}
.main .content .img{ margin:30px 0 0 50px;}
.main .content .img2{margin-left:50px;}
.main .content h3{margin:5px 0;}
.main .content .text{ width:550px; height:80px; color:#ccc; line-height:18px;margin-left:50px; padding:0px 10px;}
.main .content iframe body{ background:#161717;}
.right_conten{
    width:620px;
    padding:0 30px;
    overflow:hidden;
}
.right_conten iframe { background:none;}
.icon { background:url(../images/icon.jpg) no-repeat; width:59px; height:236px; position:absolute; z-index:100; top:-1px; left:668px;}
.footer { background:url(../images/footer.jpg) no-repeat; height:104px; margin:auto; width:1280px;}
/*clear*/
.e_clear:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.e_clear {
	display:inline-block;
}
.e_clear {
	display:block;
}
.mt20{margin-top:20px;}
ns