*{ margin:0; padding:0;}
a img { border:none;}
.video_edu { width:610px;}
.img { margin-bottom:40px;}
.text p { color:#6a6a6a; font-family:Microsoft YaHei; font-size:14px; line-height:22px; text-indent:2em; margin-bottom:20px; }