/*global*/
* {
	margin:0 auto;
	padding:0;
}

li {
	list-style:none;
}

img {
	border:0;
}

h4 {
	font-size:12px;
}

body {
	font-size:12px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	background:#484848;
	height:100%;
}

/*layout*/
#main {
	width:960px;
	height: 923px;
	margin:0 auto;
	padding-top:366px;
	background:url(img/bg.jpg) no-repeat;;
}

#main_lb {
	width:558px;
	height:923px;
	padding:0 21px 0 36px;
	float:left;
	overflow:hidden;
}

.pre_intro {
	height:145px;
}

.pre_intro p{
	font:12px/24px Calibri, Arial, Helvetica, sans-serif;
	text-indent:2em;
}

.mform h3 {
	height:20px;
	background:url(img/h3_1.jpg) 0 4px no-repeat;
	color:#f00;
	font:12px/20px Calibri, Arial, Helvetica, sans-serif;
	padding:5px 0 5px 37px;
}

.mform h3.s {
	background:url(img/h3_2.jpg) 0 6px no-repeat;
}

.mform p {
	font:12px/20px Calibri, Arial, Helvetica, sans-serif;
	margin-bottom:3px;
	clear:both;
}

.mform p span {
	padding:0 2px;
	color:#f00;
}

.mform p.t input {
	border:1px #000 solid;
	border-width:0 0 1px 0;
	background:none;
	vertical-align:middle
}

.mform p.c {
	padding:5px 0;
	height:20px;
}

.mform p.c2 {
	height:40px;
}

.mform p.c input {
	vertical-align:middle;
	margin-right:5px;
}

.mform p.c span {
	width:105px;
	height:20px;
	float:left;
	display:block;
	color:#000;
}

.mform p.r input {
	vertical-align:middle;
	margin:0 5px 0 50px;
}

.mform p.r span {
	color:#000;
}

.mform h4 {
	clear:both;
	padding:3px 0;
}

.mform textarea {
	width:552px;
	height:46px;
	padding:2px;
	font-size:12px;
	color:#333;
}

.mform input.sub {
	width:126px;
	height:33px;
	background:url(img/submit.jpg) no-repeat;
	float:right;
	border:0;
	margin-top:10px;
}

#main_rb {
	width:317px;
	height:216px;
	padding:707px 0 0 28px;
	float:left;
}

#main_rb ul li {
	font:12px/22px Calibri, Arial, Helvetica, sans-serif;
}